body {
    background-color:#EEE;
    margin: 0;
    padding: 0;
}

aside {
    position:fixed;
    top:0;
    right:0;
    z-index:999;
    display:flex;
}

#menu-opener {
    width:40px;
    height:40px;
    cursor:pointer;
    margin-top:15px;
    margin-right:10px;
}

#menu-area {
    width:200px;
    height:100vh;
    background-color:#CCC;
    overflow-x:hidden;
    overflow-y:auto;
    transition:all ease .5s;
}

#menu-area ul, #menu-area li {
    padding:0;
    list-style:none;
}

#menu-area li {
    display:block;
    padding:10px;
    color:#555;
    cursor:pointer;
}

#menu-area li:hover {
    background-color:#DDD;
}

#menu-opener img {
    height:40px;
}

#menu-opener {
    margin-right:10px;
}