body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Work Sans',sans-serif;
}

.ballon {
    position: absolute;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    cursor: pointer;
}

.title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    z-index: 999;
    background: white;
    font-size: 3vw;
}

.title h1 {
    font-weight: 900;
    color: rgba(0, 0, 0, 0.1);
    letter-spacing: 2px;
    margin: 0;
}